version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7
    environment:
      - TOXENV: py37
    working_directory: ~/covid-api
    steps:
      - checkout
      - run:
          name: install dependencies
          command: pip install tox codecov pre-commit --user
      - run:
          name: test
          command: ~/.local/bin/tox
      - run:
          name: run pre-commit
          command: ~/.local/bin/pre-commit run --all-files

  deploy-staging:
    # docker:
    #   - image: nikolaik/python-nodejs:python3.7-nodejs12
    machine: 
      image: ubuntu-2004:202010-01
    working_directory: ~/covid-api
    steps:
      - checkout
      #- setup_remote_docker
      - run: 
          name: use python 3.7
          command: |
            pyenv install -v 3.7.0
            pyenv global 3.7.0

      - run:
          name: install dependencies
          command: |
            pip install -e .["deploy"] --user
            npm install -g cdk

      - run:
          name: install docker-ce-cli
          command: |
            sudo apt-get update
            sudo apt-get install apt-transport-https \
              ca-certificates curl gnupg2 software-properties-common -y
            curl -fsSL https://download.docker.com/linux/debian/gpg | sudo apt-key add -
            add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian buster stable"
            sudo apt-get update
            sudo apt-get install docker-ce-cli -y

      - deploy:
          name: develop branch deployed to staging cdk stack
          command: |
            if [ "${CIRCLE_BRANCH}" == "develop" ]; then
              STAGE='staging' cdk deploy covid-api-lambda-staging --region us-east-1 --require-approval never
            fi

  deploy-production:
    # docker:
    #   - image: nikolaik/python-nodejs:python3.7-nodejs12
    machine: 
      image: ubuntu-2004:202010-01
    working_directory: ~/covid-api
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install dependencies
          command: |
            pip install -e .["deploy"] --user
            npm install -g cdk

      - run:
          name: install docker-ce-cli
          command: |
            apt-get update
            apt-get install apt-transport-https \
              ca-certificates curl gnupg2 software-properties-common -y
            curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add -
            add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/debian buster stable"
            apt-get update
            apt-get install docker-ce-cli -y

      - deploy:
          name: master branch deployed to production cdk stack
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              STAGE='prod' cdk deploy covid-api-lambda-prod --region us-east-1 --require-approval never
            fi

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - deploy-staging: 
          requires:
            - test
          filters:
            branches:
              only: /^feature\/.*/
      - deploy-production:
          requires:
            - test
          filters:
            branches:
              only: master