PROJECT_NAME: covid-api
STAGE: dev
# primary bucket
BUCKET: covid-eo-data

# Additional environement variable to set in the task/lambda
TASK_ENV:
# Existing VPC to point ECS/LAMBDA stacks towards. Defaults to creating a new
# VPC if no ID is supplied.
VPC_ID:
################################################################################
#                                                                              #
#                                   ECS                                        #
#                                                                              #
################################################################################
# Min/Max Number of ECS images
MIN_ECS_INSTANCES: 5
MAX_ECS_INSTANCES: 50
# CPU value      |   Memory value
# 256 (.25 vCPU) | 0.5 GB, 1 GB, 2 GB
# 512 (.5 vCPU)  | 1 GB, 2 GB, 3 GB, 4 GB
# 1024 (1 vCPU)  | 2 GB, 3 GB, 4 GB, 5 GB, 6 GB, 7 GB, 8 GB
# 2048 (2 vCPU)  | Between 4 GB and 16 GB in 1-GB increments
# 4096 (4 vCPU)  | Between 8 GB and 30 GB in 1-GB increments
TASK_CPU: 256
TASK_MEMORY: 512

################################################################################
#                                                                              #
#                                 LAMBDA                                       #
#                                                                              #
################################################################################
TIMEOUT: 10
MEMORY: 1536

# stack skips setting concurrency if this value is 0
# the stack will instead use unreserved lambda concurrency
MAX_CONCURRENT: 0

# Cache
CACHE_NODE_TYPE: cache.m5.large
CACHE_ENGINE: memcached
CACHE_NODE_NUM: 1

DATASET_METADATA_FILENAME: dev-dataset-metadata.json
# STAC_API_URL: https://earth-search.aws.element84.com/v0
DATASETS:
  STATIC:
  - agriculture.json
  - co2-diff.json
  - co2.json
  - detections-contrail.json
  - detections-plane.json
  - detections-ship.json
  - detections-vehicles.json
  - nightlights-hd.json
  - nightlights-viirs.json
  - no2-diff.json
  - no2.json
  - population.json
  - recovery.json
  - slowdown.json
  - togo-ag.json
  - water-chlorophyll.json
  - water-pzd.json
  - water-spm.json
